<!DOCTYPE html>
<html>
    <head>
        <title>Movies List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
        <h3><a href="/movies/create">Create Movies</a></h3>
        <h1>Movies List</h1>
            {% if movies is not empty %}
                <table class="table" >
                    <thead>
                        <tr>
                            <th>Movies Title</th>
                            <th>Year</th>
                            <th>Rating</th>
                            <th>Genre</th>
                            <th>Duration</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                            <td><a href="/movies/show/{{ movie._id }}">{{ movie.title }}</a></td>
                            <td>{{ movie.year }}</td>
                            <td>{{ movie.rating }}</td>
                            <td>{{ movie.genre }}</td>
                            <td>{{ movie.duration }}</td>
                            <td>
                                <h3><a class="btn btn-primary" role="button" href="/movies/edit/{{ movie._id }}">EDIT</a></h3>
                                <form action="/movies/delete/{{ movie._id }}" method="post">
                                    <button type="submit">DELETE</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>No movies found.</div>
            {% endif %}
        </div>
    </body>
</html>
